#maghiari_txt{ font-weight: bold; }

#maghiari_2011_img{ width: 100%; height: 50%;}

#aprily_txt{ font-weight: bold; }

.col-lg-6{ text-align: center; }

.important{ font-weight: bold; font-size: 1.5em}

#center_txt{ text-align: center; padding-top: 2em;}

#sinagoga_img{ padding-top:4em; text-align: center;}

.txt{ float:left; clear: left;}