.sub-title{
	font-weight: bold;
	font-size: 1.6em;
	padding-bottom: 0.8em;
}

#junii_img{ float:right; clear: right; }

#mestecenii_img{ float:right; clear: right; position: relative; bottom:2em;  }

#zoritorilor_img{ float:right; clear: right; }

#capra_img{ float:right; clear: right; position: relative; bottom:2em; }

.new_paragraph{ clear: both; padding: 0.8em; }