body, html{ background-color: #004d4d; }

#center{
	height: auto;
	background-color: lightyellow;
	position: absolute;
	padding: 2em;
	left: 15%;
	top: 6em;
	padding-bottom: 6em;
}

#content{ position: relative; top: 2em;}

.fotografie{
	width: 35em;
	height: 25em;
	padding: 3em;
	border-radius: 20%;
}