#pozitionare_img{ float: right; text-align: center; }


#munti_list{ float: left; }

#munti{ text-align: center; font-weight: bold;}

#munti p{ padding-right: 3em;}


#rezervatii{ font-weight: bold; text-align: center;}

#gaura{ float: left; clear: left; }

#bucsoiul{ padding-top: 2em; float: left; clear: left; }


#brasov_iarna_img{ text-align: center; }

#brasov_vara_img{ text-align: center; }


#hidrografie{ text-align: center; }

#hidrografie_img{ 
	width: 100%;
	height: 50%;
}

.txt{ float:left; clear: left;}

#bucsoiul_img{ max-height: 25em;}