#pozitionare_img{ float: right; }


#munti_list{ float: left; }

#munti p{ text-align: center; font-weight: bold; }

#Mfagaras{ float: right; }

#MpiatraCraiului{ float: right; clear: both; }

#Mbucegi{ clear: left; }

#Mbucegi p{ position: relative; left: -6em;}

#Mbarsei p{ position: relative; left: -6em;}

#Mleota{ float: right; clear: right; }

#Mcodlei{ float: left; clear: left; }

#Mpersani{ float: right; clear: right; }


#rezervatii_art{ float:left; }

#rezervatii p{ font-weight: bold; text-align: center;}

#bucsoiul{ float: right;}

#gaura{ float: left; clear: left; }

#babele{ float: right; clear: right; }

#sfinx{ float: left; clear: left; }

#tampa{ float: left; clear: left; position: relative; left: 350px; }


#clima_art{ float: left; clear: both;}

#brasov_iarna_img{ position: relative; left: 4em; }

#brasov_vara_img{ position: relative; left: 4em; }


#hidrografie_art{ float: left; clear: left;}

#hidrografie_img{ 
	width: 80em;
	height: 50em;
	position: relative;
	left: 6em;
}