#piata_sfatului_img{ position: relative; bottom: 2em;}

#piata_sfatului_txt{ position: relative; top: 8em;}


#biserica_neagra_txt{ position: relative; top: 8em;}

#biserica_neagra_img{ position: relative; bottom: 2em;}


#strada_sforii_txt{ position: relative; top: 8em;}

#strada_sforii_img{ position: relative; bottom: 2em;}


#tatarilor_txt{ position: relative; top: 12em;}

#tatarilor_img{ position: relative; bottom: 2em;}


#schei_txt{ position: relative; top: 12em;}


#ecaterinei_txt{ position: relative; top: 8em;}


#dupa_ziduri_txt{ position: relative; top: 12em;}