#piata_sfatului_img{ position: relative; bottom: 25px;}

#piata_sfatului_txt{ position: relative; top: 100px;}


#biserica_neagra_txt{ position: relative; top: 100px;}

#biserica_neagra_img{ position: relative; bottom: 25px;}


#strada_sforii_txt{ position: relative; top: 100px;}

#strada_sforii_img{ position: relative; bottom: 25px;}


#tatarilor_txt{ position: relative; top: 150px;}

#tatarilor_img{ position: relative; bottom: 25px;}


#schei_txt{ position: relative; top: 150px;}


#ecaterinei_txt{ position: relative; top: 100px;}


#dupa_ziduri_txt{ position: relative; top: 150px;}