#maghiari_txt{ font-weight: bold; }

#maghiari_2011_img{ height: 56em; width: 86em;}

#aprily_txt{ font-weight: bold; }

.col-lg-6{ text-align: center; }

.important{ font-weight: bold; font-size: 1.5em}

#center_txt{ text-align: center; padding-top: 2em;}

#sinagoga_img{ padding-top:4em; text-align: center;}