#maghiari_txt{ font-weight: bold; }

#maghiari_2011_img{ height: 700px; width: 1200px;}

#aprily_txt{ font-weight: bold; }

.col-lg-6{ text-align: center; }

.important{ font-weight: bold; font-size: 18px}

#center_txt{ text-align: center; padding-top: 25px;}

#sinagoga_img{ padding-top:50px; text-align: center;}